nav(uk-navbar="boundary-align: true; align: center;").uk-navbar-container
    .uk-navbar-left
        ul.uk-navbar-nav
            li.uk-active
                a(href="/blog") blog
    .uk-navbar-right
        ul.uk-navbar-nav
            li
                a(href="/login") login
