extends ../layout.pug
block content
    h1.uk-text-large Login
    form
        .uk-margin
            .uk-inline
                span(uk-icon="icon: user").uk-form-icon
                input(type="text").uk-input
        .uk-margin
            .uk-inline
                span(uk-icon="icon: lock").uk-form-icon
                input(type="password").uk-input
