doctype html
html(lang="en")
    head
        // TODO Fix to use config
        title Kodia Studios | Blog

        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")

        // UIKit CSS
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.14/dist/css/uikit.min.css")

        // UIKit JS
        script(src="https://cdn.jsdelivr.net/npm/uikit@3.6.14/dist/js/uikit.min.js")
        script(src="https://cdn.jsdelivr.net/npm/uikit@3.6.14/dist/js/uikit-icons.min.js")
        script(src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js")
    body
        include partials/navbar.pug
        .uk-container
            block content
