.uk-position-relative
    nav(uk-navbar="dropbar: true; mode: click").uk-navbar-container
            .uk-navbar-left
                .uk-container
                    ul.uk-navbar-nav
                        li
                            a.uk-navbar-toggle
                                span(uk-navbar-toggle-icon)
                                span.uk-margin-small-left Menu
                            .uk-navbar-dropdown
                                ul.uk-nav.uk-navbar-dropdown-nav
                                    li
                                        a(href="#") Blog
                                    li.uk-nav-divider
                                    li
                                        a(href="#").uk-button.uk-button-default.uk-button-small.uk-width-1-2 Login

    .uk-navbar-dropbar
