.uk-position-relative
    nav(uk-navbar="dropbar: true; mode: click").uk-navbar-container
            .uk-navbar-left
                .uk-container
                    ul.uk-navbar-nav
                        li
                            a.uk-navbar-toggle
                                span(uk-navbar-toggle-icon)
                                span.uk-margin-small-left Menu
                            .uk-navbar-dropdown
                                ul.uk-nav.uk-navbar-dropdown-nav
                                    li
                                        a(href="/posts") Blog
                                    li.uk-nav-divider
                                    if user === undefined
                                        li
                                            a(href="/auth/github").uk-button.uk-button-default.uk-button-small Login with GitHub
                                    else if user.blogger === true
                                        li
                                            a(href="/admin").uk-button.uk-button-default.uk-button-small Admin
                                        li
                                            a(href="/logout").uk-button.uk-button-default.uk-button-small.uk-margin-top Logout
                                    else
                                        li
                                            a(href="/logout").uk-button.uk-button-default.uk-button-small.uk-margin-top Logout

    .uk-navbar-dropbar
